$background: #1e1e2e;
$comment: #6c7086;
$currentline: #585b70;
$cyan: #94e2d5;
$foreground: #cdd6f4;
$green: #a6e3a1;
$orange: #fab387;
$pink: #f5c2e7;
$primary: #cba6f7;
$purple: #cba6f7;
$red: #f38ba8;
$selection: #585b70;
$yellow: #f9e2af;

@import "./components/Osd/Osd.scss";
