@import "config-one-line.rasi"

/*****----- Main Box -----*****/
mainbox {
  orientation: vertical;
  children: [ "inputbar", "listview"];
}

/*****----- Inputbar -----*****/
inputbar {
  spacing: 7px;
}
entry {
  width: 100%;
}

/*****----- Listview -----*****/
listview {
  layout: vertical;
  lines: 10;
}

// vim: syntax=less
