@import url("/home/gean/.config/waybar/colors.css");

.osd-container {
  background-color: transparent;
}

.progress-osd {
  background-color: transparent;
  padding: 7px; /* HACK: required to make revealer work */
}

.progress-osd .progress-container {
  background-color: @background;
  border-color: @selection;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 2px;
}

.progress-osd .progress {
  background-color: transparent;
  border-radius: 2px;
}

.progress-osd .fill {
  background-color: @primary;
  border-radius: 2px;
}
.progress-osd .fill.overflow {
  background-color: @pink;
}
.progress-osd .fill.muted {
  background-color: @comment;
}
