@define-color bar_bg @base;
@define-color module_bg @surface0;

.bar-container {
  background-color: @bar_bg;
  color: @text;
  font-family:
    Iosevka NF,
    woos;
  font-size: 10pt;
  font-weight: 500;
  padding: 7px;
}

.bar {
  padding: 7px;
  min-height: 26px;
}

.dwltags label {
  padding: 1px 0.5em 0;
  color: @overlay0;
  border-radius: 4px;
}
.dwltags label.occupied {
  color: @text;
}
.dwltags label.activated {
  background-color: @module_bg;
}
.dwltags label.focused {
  color: @maroon;
}
.dwltags label.urgent {
  color: @red;
}

.dwllayout,
.dwlmode {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
  color: @flamingo;
}

.dwlmode {
  color: @peach;
}

.dwlscratchpads {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
  color: @lavender;
}

.dwltitle {
  padding: 1px 0.5em 0;
  color: @overlay0;
}

.bar .capslock {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @module_bg;
  color: @peach;
  font-size: 1.2em;
}

.taskbar {
  padding: 0 0.3em;
  border-radius: 4px;
  background-color: @module_bg;
}
.taskbar box {
  opacity: 0.5;
}
.taskbar box.focused {
  opacity: 1;
}

.systray button {
  background: transparent;
  padding: 1px 0.3em 0;
}

.recorder {
  padding: 1px 0.5em;
  border-radius: 4px;
  background-color: @module_bg;
  color: @red;
}

.matcha {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @module_bg;
  color: @overlay0;
}
.matcha.enabled {
  color: @maroon;
}

.dunst {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
  color: @overlay0;
}
.dunst.enabled {
  color: @text;
}

.offlinemsmtp {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @module_bg;
  color: @overlay0;
}
.offlinemsmtp.enabled {
  color: @maroon;
}

.temperature {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
}
.temperature.medium {
  color: @yellow;
}
.temperature.critical {
  color: @red;
}

.battery {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
}
.battery.discharging {
  color: @yellow;
}
.battery.charging {
  color: @green;
}
@keyframes blink {
  to {
    color: @yellow;
  }
}
.battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.audio {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
}
.audio.muted {
  color: @red;
}

.bluetooth {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @module_bg;
}
.bluetooth.on {
  color: @text;
}
.bluetooth.connected {
  color: @blue;
}
.bluetooth.off {
  color: @overlay0;
}

.network {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @module_bg;
  color: @overlay0;
}
.network .connected {
  color: @blue;
}

.clock {
  padding: 0 0.5em;
}

/*
vim: syntax=less
*/
