@define-color moduleBg @surface1;
@define-color moduleBgFocus @surface0;

.bar-container {
  background-color: @surface0;
  color: @text;
  font-family:
    Iosevka NF,
    woos;
  font-size: 10pt;
  font-weight: 500;
  padding: 7px;
}
.bar-container.focused {
  background-color: @background;
}

.bar {
  padding: 7px;
  min-height: 26px;
}

.bar.loading > * {
  opacity: 0;
}

.wmtags label {
  padding: 1px 0.5em 0;
  color: @textDimmed;
  border-radius: 4px;
}
.wmtags label.occupied {
  color: @text;
}
.wmtags label.activated {
  background-color: @moduleBg;
}
.wmtags label.focused {
  color: @maroon;
}
.wmtags label.urgent {
  color: @red;
}
.bar-container.focused .wmtags label.activated {
  background-color: @moduleBgFocus;
}

.dwllayout,
.wmmode {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @flamingo;
}
.bar-container.focused .dwllayout,
.bar-container.focused .wmmode {
  background-color: @moduleBgFocus;
}

.wmmode {
  color: @peach;
}

.wmnamedscratchpads {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @lavender;
}
.bar-container.focused .wmnamedscratchpads {
  background-color: @moduleBgFocus;
}

.wmscratchpads {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @red;
}
.bar-container.focused .wmscratchpads {
  background-color: @moduleBgFocus;
}

.wmtitle {
  padding: 1px 0.5em 0;
  color: @textDimmed;
}

.bar .capslock {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @peach;
  font-size: 1.2em;
}
.bar-container.focused .bar .capslock {
  background-color: @moduleBgFocus;
}

.wmtaskbar {
  margin: -7px 0;
  padding: 0 0.3em;
  border-radius: 4px;
  /* background-color: @moduleBg; */
}
.wmtaskbar box {
  opacity: 0.5;
}
.wmtaskbar box.focused {
  opacity: 1;
}
.bar-container.focused .wmtaskbar {
  /* background-color: @moduleBgFocus; */
}

.systray button {
  background: transparent;
  padding: 1px 0.3em 0;
}

.recorder {
  padding: 1px 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @red;
}
.bar-container.focused .recorder {
  background-color: @moduleBgFocus;
}

.matcha {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @textDimmed;
}
.matcha.enabled {
  color: @maroon;
}
.bar-container.focused .matcha {
  background-color: @moduleBgFocus;
}

.timewarrior {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @green;
}
.bar-container.focused .timewarrior {
  background-color: @moduleBgFocus;
}

.dunst {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @textDimmed;
}
.dunst.enabled {
  color: @text;
}
.bar-container.focused .dunst {
  background-color: @moduleBgFocus;
}

.offlinemsmtp {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @textDimmed;
}
.offlinemsmtp.enabled {
  color: @maroon;
}
.bar-container.focused .offlinemsmtp {
  background-color: @moduleBgFocus;
}

.temperature {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
}
.temperature.medium {
  color: @yellow;
}
.temperature.critical {
  color: @red;
}
.bar-container.focused .temperature {
  background-color: @moduleBgFocus;
}

.battery {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
}
.battery.discharging {
  color: @yellow;
}
.battery.charging {
  color: @green;
}
@keyframes blink {
  to {
    color: @yellow;
  }
}
.battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bar-container.focused .battery {
  background-color: @moduleBgFocus;
}

.audio {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
}
.audio.muted {
  color: @red;
}
.bar-container.focused .audio {
  background-color: @moduleBgFocus;
}

.bluetooth {
  padding: 1px 0.5em 0;
  border-radius: 4px;
  background-color: @moduleBg;
}
.bluetooth.on {
  color: @text;
}
.bluetooth.connected {
  color: @blue;
}
.bluetooth.off {
  color: @textDimmed;
}
.bar-container.focused .bluetooth {
  background-color: @moduleBgFocus;
}

.network {
  padding: 0 0.5em;
  border-radius: 4px;
  background-color: @moduleBg;
  color: @textDimmed;
}
.network .connected {
  color: @blue;
}
.bar-container.focused .network {
  background-color: @moduleBgFocus;
}

.clock {
  padding: 0 0.5em;
}
