@import url("colors.css");

@define-color bar_bg @background;
@define-color module_bg #313244;

* {
  font-family: inherit;
  font-size: inherit;
}

tooltip,
window#waybar {
  background-color: @bar_bg;
  color: @foreground;
  font-family:
    Iosevka NF,
    woos;
  font-size: 10pt;
  font-weight: 500;
}

window#waybar > box.horizontal {
  padding: 7px;
}

window#waybar.hidden {
  opacity: 0;
}

.modules-center {
  margin: 0 7px;
}

#custom-dwl_title,
#custom-dwl_mode,
#custom-dwl_layout,
#temperature,
#submap,
#mode,
#keyboard-state label.locked,
#custom-recorder,
#custom-notifications,
#custom-offlinemsmtp,
#custom-powermenu,
#custom-dwl_tag,
#tags,
#workspaces,
#custom-scratchpad_indicator,
#window,
#custom-matcha,
#idle_inhibitor,
#battery,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#clock,
#tray {
  background-color: @module_bg;
  padding: 0.15em 0.5em 0;
  margin: 0;
  border-radius: 4px;
  background-clip: border-box;
}

#keyboard-state label.locked {
  font-size: 1.2em;
  color: @red;
  padding: 0 0.5em;
}

#custom-offlinemsmtp.disabled,
#custom-notifications.disabled {
  color: @comment;
}

#tags,
#workspaces {
  padding: 0;
  background-color: transparent;
}
#workspaces button {
  margin-right: 4px;
  color: @foreground;
}
#tags button {
  margin-right: 4px;
  color: @comment;
}
#custom-dwl_tag {
  padding: 0.15em 0.5em 0;
  background-color: transparent;
  color: @comment;
}
#tags button,
#workspaces button {
  font-weight: normal;
  padding: 0.15em 0 0;
  background-color: transparent;
}
#workspaces button.empty {
  color: @comment;
}
#custom-dwl_tag.occupied,
#tags button.occupied {
  color: @foreground;
}
#custom-dwl_tag.focused,
#tags button.focused,
#workspaces button.active,
#workspaces button.focused {
  color: @primary;
}
#custom-dwl_tag.urgent,
#tags button.urgent,
#workspaces button.urgent {
  color: @red;
}
#workspaces button.persistant {
  color: @selection;
}

#custom-dwl_mode,
#submap,
#mode {
  color: @orange;
}

#temperature {
  color: @foreground;
}
#temperature.critical {
  color: @red;
}

#custom-matcha.disabled,
#idle_inhibitor.deactivated {
  color: @comment;
}
#custom-matcha.enabled,
#idle_inhibitor.activated {
  color: @green;
}

#custom-recorder.recording {
  color: @red;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  color: @red;
}

#backlight {
  color: @yellow;
}

#battery.discharging {
  color: @yellow;
}
#battery.charging,
#battery.plugged {
  color: @green;
}
@keyframes blink {
  to {
    color: @yellow;
  }
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth.on {
  color: @foreground;
}
#bluetooth.connected {
  color: @cyan;
}
#bluetooth.off {
  color: @comment;
}
#bluetooth.disabled {
  color: @comment;
}

#network {
  color: @cyan;
}
#network.disconnected {
  color: @red;
}

#waybar.empty #window {
  opacity: 0;
}

#custom-dwl_layout {
  color: @orange;
}

tooltip {
  border-radius: 4px;
  border: none;
  background: @mantle;
}
tooltip label {
  color: @foreground;
  font-family: Iosevka NF;
}

#window,
#custom-dwl_title,
#clock {
  background: transparent;
}

#network.wifi {
  padding-top: 0;
}

/*
vim: syntax=less
*/
