@import url("colors.css");

window#waybar {
  background-color: transparent;
  color: @foreground;
  font-family: Iosevka Nerd Font, woos, sans-serif;
  font-size: 14px;
  transition-duration: 0.5s;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0;
}

#mode,
#keyboard-state label.locked,
#custom-mbpfan,
#custom-recorder,
#custom-notifications,
#custom-powermenu,
#tags,
#workspaces,
#custom-scratchpad_indicator,
#window,
#idle_inhibitor,
#battery,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#clock,
#tray {
  background-color: @selection;
  padding: 0 7px;
  margin: 7px 0;
  border-radius: 4px;
  background-clip: border-box;
}

#tray {
  margin: 7px 0 7px 7px;
}

#keyboard-state label.locked {
  font-size: 1.2em;
}

#keyboard-state label.locked,
#custom-notifications.disabled {
  background: @primary;
  color: @background;
  min-width: 0.8em;
}

#custom-powermenu {
  color: @red;
}

#tags,
#workspaces {
  padding: 0;
}
#tags button,
#workspaces button {
  padding: 0 4px;
  min-width: 20px;
}
#tags button:hover,
#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#tags button.focused,
#workspaces button.focused {
  color: @background;
  background-color: @primary;
}
#tags button.urgent,
#workspaces button.urgent {
  color: @red;
}
#tags button.persistant,
#workspaces button.persistant {
  color: @selection;
}

#cpu {
  color: #61afef;
}

#memory {
  color: #c678dd;
}

#mode {
  color: @orange;
}

#temperature {
  color: #d19a66;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
}

#custom-media {
  background-color: #c678dd;
  color: #1e222a;
}

#custom-fans {
  color: #98c379;
}

#clock {
}

#idle_inhibitor {
}
#idle_inhibitor.activated {
  background-color: @purple;
  color: @background;
}

#custom-recorder.recording {
  background: @red;
  color: @background;
}

#pulseaudio {
}

#pulseaudio.muted {
  background-color: @red;
  color: @background;
}

#backlight {
  color: @yellow;
}

#battery {
  /* color: @cyan; */
}
#battery.discharging {
  color: @yellow;
}
#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    color: @yellow;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth.on {
  color: @cyan;
}

#bluetooth.disabled {
  background-color: @red;
  color: @background;
}

#network {
  color: @cyan;
}

#network.disconnected {
  color: @red;
}

#waybar.empty #window {
  opacity: 0;
}

/*
vim: syntax=less
*/
