/** Some apps use titlebar class and some window */
.titlebar,
window {
  border-radius: 0;
  box-shadow: none;
}

/** also remove shaddows */
decoration {
  box-shadow: none;
}

decoration:backdrop {
  box-shadow: none;
}

/* No (default) titlebar on wayland */
headerbar.titlebar.default-decoration {
  background: transparent;
  padding: 0;
  margin: 0 0 -17px 0;
  border: 0;
  min-height: 0;
  font-size: 0;
  box-shadow: none;
}

/* rm -rf window shadows */
window.csd, /* gtk4? */
window.csd decoration {
  /* gtk3 */
  box-shadow: none;
}

headerbar {
  border-radius: 0;
}

messagedialog,
decoration {
  border-radius: 0;
}

messagedialog button {
  border-radius: 0;
}
