configuration {
  dpi: 192;
}

* {
  font: "Iosevka Nerd Font 28px";
}

/*****----- Main Box -----*****/
mainbox {
  spacing: 14px;
  padding: 14px;
}

/*****----- Inputbar -----*****/
prompt {
  font: "Iosevka Nerd Font, woos 28px";
}
entry {
  width: 400;
}

/*****----- Listview -----*****/
listview {
  spacing: 10px;
}

/*****----- Elements -----*****/
element {
  padding: 8px 14px;
  border-radius: 8px;
}

// vim: syntax=less

