configuration {
  dpi: 0;
  font: "Hack 14";
  icon-theme: "Papirus";
  show-icons: true;
  kb-select-1: "";
  kb-select-2: "";
  kb-select-3: "";
  kb-select-4: "";
  kb-select-5: "";
  kb-select-6: "";
  kb-select-7: "";
  kb-select-8: "";
  kb-select-9: "";
}

/* @import "~/.cache/wal/colors-rofi-dark" */

/* vim:ft=css
