.osd-window {
  background: transparent;
}

.osd {
  // HACK: without this, slide_left doesn't work
  min-width: 1px;
}

.osd-progress {
  background-color: $background;
  border-radius: 4px;
  border: 2px solid $selection;
  padding: 2px;
}

.osd-progress-bar {
  background-color: $purple;
  border-radius: 2px;

  &.overflowed {
    background-color: $pink;
  }
}
