.osd-container {
  background-color: transparent;
}

.progress-osd {
  background-color: transparent;
  padding: 1px 0; /* HACK: required to make revealer work */
}

.progress-osd .progress-container {
  background-color: @backgroundOverlay;
  border-color: @border;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
  box-shadow: 0px 0px 7px 0px rgba(17, 17, 27, 1); /* crust */
  margin: 70px 48px 48px 48px; /* HACK: add enought space so shadow is visible */
}

.progress-osd .progress {
  background-color: transparent;
  border-radius: 2px;
}

.progress-osd .icon {
  color: @backgroundOverlay;
  font-size: 1.5em;
  text-shadow: 0px 0px 7px rgba(235, 160, 172, 1); /* maroon */
}

.progress-osd .fill {
  background-color: @maroon;
  border-radius: 2px;
}
.progress-osd .fill.overflow {
  background-color: @red;
}
.progress-osd .fill.muted {
  background-color: @textDimmed;
}

.capslock-osd {
  padding: 1px 0; /* HACK: required to make revealer work */
}

.capslock-osd .capslock {
  background-color: @backgroundOverlay;
  border-color: @border;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: @textDimmed;
  font-size: 118px;
  box-shadow: 0px 0px 7px 0px rgba(17, 17, 27, 1); /* crust */
  margin: 48px 48px 70px 48px; /* HACK: add enought space so shadow is visible */
  min-width: 154px;
  min-height: 154px;
}
.capslock-osd .capslock.locked {
  color: @peach;
}
