@import "config-one-line.rasi"

/*****----- Main Window -----*****/
window {
  border: 0px solid 0px solid 2px solid 0px solid;
  border-color: var(selection);
}

/*****----- Main Box -----*****/
mainbox {
  orientation: vertical;
  children: [ "inputbar", "listview"];
}

/*****----- Inputbar -----*****/
inputbar {
  spacing: 7px;
}

/*****----- Listview -----*****/
listview {
  layout: vertical;
  lines: 10;
}

// vim: syntax=less
