@font-face {
  font-family: 'woos';
  src:
    url('fonts/woos.ttf?kktqwm') format('truetype'),
    url('fonts/woos.woff?kktqwm') format('woff'),
    url('fonts/woos.svg?kktqwm#woos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'woos' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_fluent_layout_cell_four_24_regular:before {
  content: "\e94d";
}
.ic_fluent_layout_row_three_24_regular:before {
  content: "\e94e";
}
.ic_fluent_layer_diagonal_24_regular:before {
  content: "\e94f";
}
.ic_fluent_layout_column_three_24_regular:before {
  content: "\e950";
}
.ic_fluent_layout_column_two_split_left_24_regular:before {
  content: "\e951";
}
.ic_fluent_layout_column_two_split_right_24_regular:before {
  content: "\e952";
}
.ic_fluent_layout_row_two_split_bottom_24_regular:before {
  content: "\e953";
}
.ic_fluent_layout_row_two_split_top_24_regular:before {
  content: "\e954";
}
.ic_fluent_layout_row_two_split_top_focus_bottom_24_filled:before {
  content: "\e955";
}
.ic_fluent_layout_column_two_split_left_focus_right_24_filled:before {
  content: "\e956";
}
.ic_fluent_layout_column_two_split_right_focus_left_24_filled:before {
  content: "\e957";
}
.ic_fluent_layout_row_two_split_bottom_focus_top_24_filled:before {
  content: "\e958";
}
.ic_fluent_settings_24_regular:before {
  content: "\e903";
}
.ic_fluent_emoji_24_regular:before {
  content: "\e904";
}
.ic_fluent_search_24_regular:before {
  content: "\e905";
}
.ic_fluent_clipboard_24_regular:before {
  content: "\e906";
}
.ic_fluent_calculator_24_regular:before {
  content: "\e907";
}
.ic_fluent_send_24_regular:before {
  content: "\e908";
}
.ic_fluent_send_clock_24_regular:before {
  content: "\e909";
}
.ic_fluent_camera_24_regular:before {
  content: "\e90a";
}
.ic_fluent_camera_off_24_regular:before {
  content: "\e90b";
}
.ic_fluent_mic_prohibited_24_regular:before {
  content: "\e90c";
}
.ic_fluent_mic_24_regular:before {
  content: "\e90d";
}
.ic_fluent_mic_off_24_regular:before {
  content: "\e90e";
}
.ic_fluent_mic_record_24_regular:before {
  content: "\e90f";
}
.ic_fluent_alert_24_regular:before {
  content: "\e910";
}
.ic_fluent_alert_badge_24_regular:before {
  content: "\e911";
}
.ic_fluent_alert_off_24_regular:before {
  content: "\e912";
}
.ic_fluent_alert_on_24_regular:before {
  content: "\e919";
}
.ic_fluent_alert_snooze_24_regular:before {
  content: "\e91b";
}
.ic_fluent_alert_urgent_24_regular:before {
  content: "\e920";
}
.ic_fluent_clock_24_regular:before {
  content: "\e923";
}
.ic_fluent_speaker_0_24_regular:before {
  content: "\e924";
}
.ic_fluent_speaker_1_24_regular:before {
  content: "\e92a";
}
.ic_fluent_speaker_2_24_regular:before {
  content: "\e92b";
}
.ic_fluent_speaker_bluetooth_24_regular:before {
  content: "\e931";
}
.ic_fluent_speaker_off_24_regular:before {
  content: "\e932";
}
.ic_fluent_speaker_mute_24_regular:before {
  content: "\e933";
}
.ic_fluent_bluetooth_24_regular:before {
  content: "\e935";
}
.ic_fluent_bluetooth_connected_24_regular:before {
  content: "\e936";
}
.ic_fluent_bluetooth_disabled_24_regular:before {
  content: "\e938";
}
.ic_fluent_bluetooth_searching_24_regular:before {
  content: "\e939";
}
.ic_fluent_wifi_warning_24_regular:before {
  content: "\e93a";
}
.ic_fluent_wifi_off_24_regular:before {
  content: "\e93b";
}
.ic_fluent_wifi_4_24_regular:before {
  content: "\e93c";
}
.ic_fluent_wifi_3_24_regular:before {
  content: "\e93d";
}
.ic_fluent_wifi_2_24_regular:before {
  content: "\e93e";
}
.ic_fluent_wifi_1_24_regular:before {
  content: "\e93f";
}
.ic_fluent_battery_checkmark_24_regular:before {
  content: "\e940";
}
.ic_fluent_battery_charge_24_regular:before {
  content: "\e941";
}
.ic_fluent_battery_10_24_regular:before {
  content: "\e942";
}
.ic_fluent_battery_9_24_regular:before {
  content: "\e943";
}
.ic_fluent_battery_8_24_regular:before {
  content: "\e944";
}
.ic_fluent_battery_7_24_regular:before {
  content: "\e945";
}
.ic_fluent_battery_6_24_regular:before {
  content: "\e946";
}
.ic_fluent_battery_5_24_regular:before {
  content: "\e947";
}
.ic_fluent_battery_4_24_regular:before {
  content: "\e948";
}
.ic_fluent_battery_3_24_regular:before {
  content: "\e949";
}
.ic_fluent_battery_2_24_regular:before {
  content: "\e94a";
}
.ic_fluent_battery_1_24_regular:before {
  content: "\e94b";
}
.ic_fluent_battery_0_24_regular:before {
  content: "\e94c";
}
.send:before {
  content: "\e901";
}
.mail:before {
  content: "\e902";
}
.window:before {
  content: "\e900";
}
.nixos:before {
  content: "\e445";
}
.cloud:before {
  content: "\e913";
}
.cloud-drizzle:before {
  content: "\e914";
}
.cloud-lightning:before {
  content: "\e915";
}
.cloud-off:before {
  content: "\e916";
}
.cloud-rain:before {
  content: "\e917";
}
.cloud-snow:before {
  content: "\e918";
}
.coffee:before {
  content: "\e91a";
}
.copy:before {
  content: "\e91c";
}
.cpu:before {
  content: "\e91d";
}
.crop:before {
  content: "\e91e";
}
.database:before {
  content: "\e91f";
}
.dollar-sign:before {
  content: "\e921";
}
.download:before {
  content: "\e922";
}
.grid:before {
  content: "\e925";
}
.hard-drive:before {
  content: "\e926";
}
.help-circle:before {
  content: "\e927";
}
.lock:before {
  content: "\e928";
}
.log-out:before {
  content: "\e929";
}
.minus-circle:before {
  content: "\e92c";
}
.moon:before {
  content: "\e92d";
}
.music:before {
  content: "\e92e";
}
.power:before {
  content: "\e92f";
}
.rotate-ccw:before {
  content: "\e930";
}
.sun:before {
  content: "\e934";
}
.upload:before {
  content: "\e937";
}
